@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

.App {
  animation-name: color-fondo;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

@keyframes color-fondo{
  0%{
    background: rgb(23, 82, 105);
  }
  50%{
    background: rgb(102, 31, 90);
  }
  100%{
    background: rgb(199, 151, 19);
  }
}

