@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

#new-quote {
    background-color: rgb(57, 60, 68);
    color: white;
    border-style: none;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    height: 42px;
    padding: 0px 25px;
    cursor: pointer;
    transition: 300ms ease-in;
    outline: none;
    margin-right: 30px;
    &:hover{
        background-color: rgb(0, 89, 255);
    }
    &:focus{
        border: none;
        border-style: none;
    }
   
    
}